<div class="rs__main__page rs__all__articles">
  <div class="rs__cantainer">

  <div class="rs__notice__wrap">
    <p style="color: green" class="rs__notice"><%= notice %></p>
  </div>

  <div class="rs__heading__wrap">
    <h1>Articles</h1>
  </div>
  <div class="rs__articles__wrap">
  <div class="rs__filters__wrap">
    <div class="rs__filter">
      <label>Published Status</label>
      <select onChange="publishedStatus(this)">
        <option value="">Select Status</option>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
  </div>
  <div id="notes">
    <% @notes.each do |note| %>
    <div class="single__article">
        <%= render note %>
        <p>
          <%= link_to "Show this article", note %>
        </p>
      </div>
    <% end %>
  </div>
  </div>
  <div class="rs__btn__wrap">
    <%= link_to "New article", new_note_path %>
  </div>
  </div>
</div>

<script>
  const publishedStatus = (e) => {
    let articleStatus = document.querySelectorAll(".rs__published__status");
    let status = e.value;
    if(status == "true") {
      Array.from(articleStatus).map((item, key) => {
          if(status == item.dataset.statusType) {
           item.parentElement.parentElement.parentElement.style.display = 'block';
          }
          else {
            item.parentElement.parentElement.parentElement.style.display = 'none';
          }
      })
    }
    else if(status == "false") {
      Array.from(articleStatus).map((item, key) => {
          if(status == item.dataset.statusType) {
           item.parentElement.parentElement.parentElement.style.display = 'block';
          }
          else {
            item.parentElement.parentElement.parentElement.style.display = 'none';
          }
      })
    }
    else {
      Array.from(articleStatus).map((item, key) => {
        item.parentElement.parentElement.parentElement.style.display = 'block';
      })
    }
  }
</script>