<div class="rs__main__page rs__all__articles">
  <div class="rs__cantainer">
    <div class="rs__heading__wrap">
      <h1>Editing Article</h1>
    </div>
    <%= render "form", article: @article %>

    <br>

    <div class="rs__back__btn">
      <%= link_to "Show this article", @article %>
      <%= link_to "Back to articles", articles_path %>
    </div>
  </div>
</div>